@{
    ViewData["Title"] = "Home Page";
    @model TCYDMWebApp.ViewModels.IndexViewModel
}

<div class="images">
    <div class="row">
        <div class="col-sm-6">
            <div class="home-images">
                <img src="~/indexlayout/logo/product.png">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="home-images">
                <img src="~/indexlayout/logo/pic1.jfif">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="home-images">
                <img src="~/indexlayout/logo/pic1.jfif">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="home-images">
                <img src="~/indexlayout/logo/pic1.jfif">
            </div>
        </div>
    </div>
</div>
