@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TCYDMWebApp.DTO.UserDTO
<div class="sign-up">
    <div class="row">
        <div class="col-lg-12 col-md-12 d-flex justify-content-center">
            <img src="~/homelayout/logo/user-line.svg" alt="">
        </div>
    </div>

    <div class="test">
        <div class="row">
            <div class="col-4 first-a-tag">
                <a href="">Daxil ol</a>
                <hr class="first-line">

            </div>
            <div class="col-4 second-a-tag">
                <a href="">Qeydiyyat</a>
                <hr class="second-line">
            </div>
            <div class="col-4">
                <hr class="third-line">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 ">
                <div class="row ">
                    <div class="col-lg-12 flexend">
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Olkeni secin</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Olkeni secin</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                   placeholder="Ad">
                        </div>


                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                   placeholder="Ad">
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <div class="form-group">
                                    <input style="width: 100%;" type="date" class="form-control"
                                           id="exampleFormControlInput1" placeholder="Soyad">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <select style="width: 100%;" class="form-control eni"
                                            id="exampleFormControlSelect1">
                                        <option>Cins</option>
                                        <option>kisi</option>
                                        <option>qadin</option>

                                    </select>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                   placeholder="Ad">
                        </div>


                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                   placeholder="soyad">
                        </div>


                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                   placeholder="Tc kimlik">
                        </div>


                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                   placeholder="Nomre">

                        </div>
                        <button class="sign-account">Yadda saxla</button>

                    </div>










                </div>

            </div>
            <div class="col-lg-6 col-md-12">
                <div class="lorem-text">
                    <h4>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit</h4>
                    <div class="row">

                        <div class="col-2">
                            <div class="first-dot"></div>
                            <div class="dot-circle"></div>
                            <hr class="vr">
                            <div class="second-dot"></div>
                            <div class="second-dot-circle"></div>
                            <div class="third-dot"></div>
                            <div class="third-dot-circle"></div>
                        </div>
                        <div class="col-10">


                            <p>
                                "Sed ut perspiciatis unde omnis iste natusb error sit voluptatem accusantium
                                doloremque laudantium, totam rem aperiam.
                            </p>

                            <p>
                                "But I must explain to you how all this mistaken idea of denouncing pleasure
                                and praising pain was born and I will give you a complete account of the
                                system, and expound the actual teachings of the great explorer
                                of the truth, the master-builder of human happiness.
                            </p>
                            <p>
                                "Sed ut perspiciatis undeiste natus error sit voluptatem accusantium
                                doloremque laudantium, totam rem.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>